@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;600;700&display=swap');

@theme {
  --color-whale-skin: #515792;
  --color-dark-knight: #171A2F;
  --color-royal-curtsy: #262845;
  --color-autumn-landscape: #E27227;
  --color-pizazz: #E58441;
  --color-skyline: #989AB8;
  --color-desert-field: #EFCFB7;
  --color-coast-cream: #F7E7DB;

  --font-headings: 'Montserrat', sans-serif;
  --font-body: 'Lato', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-body);
    color: var(--color-dark-knight);
    background-color: var(--color-coast-cream);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-headings);
  }
}